@import './variables.scss';
@import './base-styling/button.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--base-bg-color);
  color: var(--base-font-color);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(207, 207, 207) #f3f3f3;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body { 
  font-family: "Montserrat", sans-serif; // Global font
  height: 100%; // Full height for both elements
}

body { 
  font-size: 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  background-color: inherit;;
}

/* Default theme: light */
:root {
  /* BASE COLORS */
  --base-primary: #6495ed;
  --base-succes: #6BCB77;
  --base-warning: #FF8C42;
  --base-error: #ED6A6A;
  --base-grey: #efefef;

  /* INPUT */
  --base-input-underline: #808080;

  /* DISABLED COLORS */
  --base-disabled-color: #B0B0B0;
  --base-disabled-bg: #d3d3d3;
  --primary-disabled-color: #e3e3e3;
  --primary-disabled-bg: #a3bae8;

  /* FONT & BACKGROUND */
  --base-font-color: #2E2E2E;
  --base-bg-color: #FAFAFA;
  --primary-font-color: #FAFAFA;

}

[data-theme="light"] {
  /* BASE COLORS */
  --base-primary: #6495ed;
  --base-succes: #6BCB77;
  --base-warning: #FF8C42;
  --base-error: #ED6A6A;
  --base-grey: #efefef;

  /* INPUT */
  --base-input-underline: #808080;

  /* DISABLED COLORS */
  --base-disabled-color: #B0B0B0;
  --base-disabled-bg: #d3d3d3;
  --primary-disabled-color: #e3e3e3;
  --primary-disabled-bg: #a3bae8;

  /* FONT & BACKGROUND */
  --base-font-color: #2E2E2E;
  --base-bg-color: #FAFAFA;
  --primary-font-color: #FAFAFA;

}

[data-theme="dark"] {
  /* Dark theme variables */
  --base-primary: #87B8FF;
  --base-succes: #7EDD91;
  --base-warning: #FFA75A;
  --base-error: #FF7B7B;
  --base-grey: #3A3A3A;

  /* INPUT */
  --base-input-underline: #c2c2c2;

  /* DISABLED COLORS */
  --base-disabled-color: #6B6B6B;
  --base-disabled-bg: #4C4C4C;
  --primary-disabled-color: #9C9C9C;
  --primary-disabled-bg: #5F7FAE;

  /* FONT & BACKGROUND */
  --base-font-color: #FAFAFA;
  --base-bg-color: #1A1A1A;
  --primary-font-color: #FAFAFA;

}

