/* BASE COLORS */ 
$base-primary: #6495ed;
$base-succes: #6BCB77;
$base-warning: #FF8C42;
$base-error: #ED6A6A;
$base-grey: #efefef;

/* DISABLED COLORS */
$base-disabled-color: #B0B0B0;
$base-disabled-bg: #d3d3d3;
$primary-disabled-color: #e3e3e3;
$primary-disabled-bg: #a3bae8;
/* LIGHT THEME */
$soft-white: #fafafa;
$soft-black: #2E2E2E;

/* BASE FONT SIZES */
$s-text: .85rem;
$xs-text: .75rem;


/* HEADER */
$header-min-height: 80px;
